/* body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
} */

mainPage {
  background-image: 'https://res.cloudinary.com/dmp2crnzz/image/upload/v1547869002/static/quik2.jpg';
}
