a {
  text-decoration: none;
  color: black;
}

.home-container {
  height: 100vh;
  width: 100vw;
  position: relative;
}

.background-home {
  height: 100vh;
  width: 100vw;
  position: relative;
}

.user-box {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 10%;
  bottom: 10%;
  left: 25%;
  right: 25%;
  padding: 2em;
  background-color: white;
  border-radius: 1%;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-family: 'Roboto';
}

.title-home {
  top: 0%;
  text-align: center;
  font-family: 'Special Elite';
  font-size: 1.5em;
  text-size-adjust: auto;
}
.options-container {
  display: flex;
}
.option-choice {
  flex: 1;
  border-style: outset;
  color: white;
  background-color: #228b22;
  border-color: white;
}

.option-text {
  font-weight: bold;
  text-align: center;
}
